:root {
  --hero-section-color: #2e2f42;
  --footer-section-color: #2e2f42;
  --main-text-color: #434455;
  --main-title-color: #2e2f42;
  --logo-color: #4d5ae5;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
.conteiner {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  /* border: 2px solid red; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ================== LOGO ================== */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.logo-studio-header {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo-studio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
/* ================== HEDER ================== */

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-underline {
  position: relative;
}
.header-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  /* display: block; */
}
.address {
  font-style: normal;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.header {
  /* width: 1158px;
  margin: 0 auto; */
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}

.header-portfolio {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.heder-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heder-nav {
  display: flex;
  gap: 76px;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.address-list {
  display: flex;
  gap: 40px;
}

/* ================== HERO ================== */
.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--hero-section-color);
  background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* flex-grow: 1; */
}
.hero-section {
  padding: 188px 0;
}
.hero-title {
  width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  padding: 16px 32px;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* ================== ABOUT US ================== */
.main-item-list {
  list-style: none;
}
.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.about-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.about-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.about-list {
  display: flex;
  gap: 24px;
}
.about-list-item {
}
.about-title {
  margin-bottom: 8px;
}
.about-text {
  width: 264px;
}
.about-conteiner {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

/* ================== SECOND ABOUT SECTION ================== */
.second-about-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.second-about-section {
  padding-bottom: 120px;
}
.second-about-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}

/* ================== TEAM SECTION ================== */
.team-section {
  background-color: #f4f4fd;
}
.team-section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--main-title-color);
}
.team-card {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--main-title-color);
}
.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-section {
  padding: 120px 0;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-card-describe {
  text-align: center;
  padding: 32px 0;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.list {
}
.team-soc-item {
  width: 40px;
  height: 40px;
  /* border: 1px solid black; */
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #ffffff;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}
.team-soc-icon {
  /* fill: #ffffff; */
}
/* ================== CUSTOMERS SECTION ================== */
.customers-section {
  padding: 120px 0;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  color: var(--main-title-color);
}
.customers-conteiner {
  display: flex;
  justify-content: center;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-list-item {
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-list-item:hover {
  border-color: #404bbf;
}
.customers-link:hover > .castomers-icon {
  fill: #404bbf;
}
.castomers-icon {
  fill: #8e8f99;
}
.customers-link > .castomers-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ================== FOOTER SECTION ================== */

.footer {
  background-color: var(--footer-section-color);
}
.footer-conteiner {
  display: flex;
}
.second-footer-conteiner {
  margin-left: 120px;
}
.footer-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-text {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  color: #f4f4fd;
}
.footer-soc-list {
  display: flex;
  gap: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-icon-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.footer {
  padding: 100px 0;
}

/* .footer-conteiner {
  width: 1158px;
} */
.third-footer-container {
  margin-left: 80px;
}
.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #ffffff;

  margin-bottom: 16px;
}
.subscribe-input {
  padding-left: 16px;
  outline: none;
  background-color: transparent;
  border-color: transparent;

  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
.form-btn-wrap {
  display: flex;
}
.footer-btn {
  position: relative;
  margin-left: 24px;
  width: 165px;
  height: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #4D5AE5;
  padding-left: 24px;
  text-align: start;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn::after {
  position: absolute;
  content: '';
  width: 24px;
  height: 20px;
  background-image: url(../images/send.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 16px;
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: #404BBF;
}


/*! ================== PORTFOLIO ================== */

.button-menu {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-menu:hover,
.button-menu:focus {
  background-color: #404bbf;
  border-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list-link {
  cursor: pointer;
}
.portfolio-list-conteiner {
  position: relative;
  overflow: hidden;
}
.portfolio-description {
  position: absolute;
  top: 0;
  background: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-link:hover .portfolio-description,
.portfolio-list-link:focus .portfolio-description {
  transform: translateY(0);
}

.portfolio-top-text {
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--main-title-color);
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.button-menu-list {
  display: flex;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 72px;
  gap: 24px;
}
.button-menu {
  padding: 12px 24px;
}
.portfolio-conteiner {
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list-description {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 0;
  padding-left: 16px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-link:hover > .portfolio-list-description {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*! ================== MODAL ================== */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  width: 408px;
  min-height: 576px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.modal-btn {
  width: 24px;
  height: 24px;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

.modal-btn:hover > .modal-svg,
.modal-btn:focus > .modal-svg {
  fill: #ffffff;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0);
}

/* Modal-2 */

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field-area {
  margin-bottom: 16px;
}
.modal-field-check {
  margin-bottom: 24px;
}
.input-container {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding-left: 38px;
}
.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-send-btn {
  width: 169px;
  height: 56px;
  left: 635px;
  top: 584px;
  margin: 0 auto;

  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover {
  background-color: #404bbf;
}

.modal-label {
  /* font-family: 'Roboto';
font-style: normal;
font-weight: 400; */
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: #8e8f99;

  display: block;
  margin-bottom: 4px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding: 8px 16px;
  resize: none;
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}

.check-label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.check-label-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
}
.input-check:checked + .check-label-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.input-check:focus + .check-label-text span {
  border-color: #4d5ae5;
}
.check-label-link {
  margin-left: 4px;
}

/* .check-label-text::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
}

.input-check:checked + .check-label-text::before {
  background-color: #404BBF;
  border: none;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
} */

.check-label-link {
  color: #4d5ae5;
}

/* input {
  color: #404BBF;
} */
